[gcode_macro END_PRINT]
gcode:
  
    #-----Retract, move & Present-----#
    G91                      ;Relative positioning
    G1 E-1 F2700             ;Retract a bit
    G1 E-2 Z0.2 F2400        ;Retract and raise Z
    G1 X5 Y5 F3000           ;Wipe out
    G1 Z30 F3000             ;Raise Z more
    G90                      ;Absolute positioning

      #-----Turn off bed, extruder, and fan-----#
    M140 S0
    M104 S0
    M106 S0
    M84                      ;Disable steppers